
/*----------  Colors ----------*/

$primary   : #00668B;
$secondary : #4E616D;
$tertiary  : #605A7D;

$error     : #BA1B1B;


$white    : #fff;
$grey-999 : #FBFCFF;
$grey-950 : #F0F1F3;
$grey-900 : #E1E2E5;
$grey-800 : #C5C7C9;
$grey-700 : #A9ABAD;
$grey-600 : #8F9193;
$grey-500 : #757779;
$grey-400 : #5C5F61;
$grey-300 : #454749;
$grey-200 : #2E3133;
$grey-100 : #191C1E;
$black    : #000;