@import 'mixins';
/*---------- Back button icon ----------*/
.backButton {
    width: 2rem;
    position: absolute;
    left: 1rem;
    background-color: transparent;
    border: none;
    margin-top: .5rem;

    &__icon {
        width: 100%;
    }
    
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .backButton{
        display: none;
    }
}