@import 'vars';
@import 'mixins';

/*---------- Card services ----------*/

.services {

    &__card {
        width: 60%;
        text-align: center;
        margin: {
            top: 1rem;
            bottom: 3rem;
            left: auto;
            right: auto;
        };
        
    }

    &__icon {
        background-color: $grey-900;
        padding: .5rem;
        margin-bottom: .5rem;
        border-radius: 50%;
    }

    &__name {
        font-weight: 400;
    }

    &__body {
        font-weight: 200;
        font-size: .8rem;
    }
}