@import 'vars';
@import 'mixins';

/*---------- Card services ----------*/

.services {

    /*---------- Card ----------*/

    &__card {
        width: 85%;
        background-color: $primary;
        color: #fff;
        text-align: center;
        padding: 2.5rem;
        margin: {
            top: 1rem;
            bottom: 1.5rem;
            left: auto;
            right: auto;
        };
        border-radius: 8px;
        
    }

    /*---------- Card icons ----------*/

    &__icon {
        width: auto;
        margin-bottom: .5rem;
        filter: invert(100%);
    }

    /*---------- Card names ----------*/

    &__name {
        font-size: $fz2;
        font-weight: 500;
        color: #fff;
        margin-bottom: .8rem;
    }

    /*---------- Card text ----------*/
 
    &__body {
        font-weight: 100;
        font-size: $fz0;
        line-height: 1.4;
    }
}

/*-------------------- Table Beackpoint --------------------*/

.services {

    /*---------- Card ----------*/

    &__card {
        width: 40%;
        flex: 1 0 auto;
        margin: 1rem;
    }
}