@import 'vars';
@import 'mixins';

/*---------- Card Project ----------*/

.projects {

    /*---------- Card container ----------*/

    &__card {
        width: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: $grey-950;
        border-radius: 12px;
        overflow: hidden;
        margin-left: .8rem;
    }

    /*---------- Card image ----------*/

    &__img {
        width: 100%;
    }

    /*---------- Card title ----------*/

    &__name{
        font-size: $fz1;
        font-weight: 500;
        padding:  {
            top: .3rem;
            left: 1rem;
            bottom: .3rem
        };
    }

    /*---------- Card text ----------*/

    &__body {
        font-size: $fz0;
        font-weight: 400;
        line-height: 1.4;
        color: $grey-600;
        padding: {
            top: 0;
            bottom: .8rem;
            left: 1rem;
        }
    }
}


/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .projects {

        /*---------- Card container ----------*/
    
        &__card {
            width: 45%;
            margin-left: 0;
            margin: 1rem;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .projects {

        /*---------- Card container ----------*/
    
        &__card {
            width: 45%;
        }
    }
}