@import 'vars';
@import 'mixins';

/*---------- Card services ----------*/

.services {

    /*---------- Card ----------*/

    &__card {
        width: 85%;
        max-width: 300px;
        background-color: $primary;
        color: #fff;
        text-align: center;
        padding: 2.5rem;
        margin: {
            top: 1rem;
            bottom: 1.5rem;
            left: auto;
            right: auto;
        };
        border-radius: 8px;
    }

    /*---------- Card icons ----------*/

    &__icon {
        width: auto;
        margin-bottom: .5rem;
        filter: invert(100%);
    }

    /*---------- Card names ----------*/

    &__name {
        font-size: $fz2;
        font-weight: 500;
        color: #fff;
        margin-bottom: .8rem;
    }

    /*---------- Card text ----------*/
 
    &__body {
        font-weight: 100;
        font-size: $fz0;
        line-height: 1.4;
    }
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .services {

        /*---------- Card ----------*/
    
        &__card {
            width: 40%;
            flex: 0 0 auto;
            margin: 1rem;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .services {

        /*---------- Card ----------*/
    
        &__card {
            width: 20%;
            margin: .5rem;
            // flex-grow: ;
        }
    }
}

