@import 'vars';
@import 'mixins';

/*---------- Card services ----------*/

.services {

    &__card {
        width: 85%;
        background-color: $primary;
        color: #fff;
        text-align: center;
        padding: 2.5rem;
        margin: {
            top: 1rem;
            bottom: 1.5rem;
            left: auto;
            right: auto;
        };
        border-radius: 8px;
        
    }

    &__icon {
        margin-bottom: .5rem;
        filter: invert(100%);
    }

    &__name {
        font-size: 1.1rem;
        font-weight: 500;
        color: #fff;
        margin-bottom: .8rem;
    }

    &__body {
        font-weight: 100;
        font-size: .8rem;
    }
}