@import 'vars';
@import 'mixins';

.contact {
    display: flex;
    height: 12em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('@images/contact-banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        width: min(50%, 500px);
        color: #fff;
        text-align: center;
        padding-bottom: 1rem;
    }
}