@import 'vars';
@import 'mixins';


/*---------- Contact Section ----------*/

.contact {
    display: flex;
    height: 15em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, #00668B 18.84%,  rgba(0, 102, 139, 0.6) 89.5%), url('@images/contact-banner.jpeg') ;
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover;

    /*---------- Paragraph ----------*/

    &__title {
        font-size: $fz3;
        width: min(55%, 500px);
        color: #fff;
        text-align: center;
        padding-bottom: 1.5rem;
    }

    /*---------- Button ----------*/

    &__button {
        flex: 0 0 auto;
        font-size: $fz1;
        color: #fff;
        background-color: $error;
        padding: .5rem 1.5rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}

/*-------------------- Table Beackpoint --------------------*/

@include md {
    .contact {
        height: 25em;
        background-image: linear-gradient(90.09deg, #00668B 28.84%), url('@images/contact-banner.jpeg') ;

        /*---------- Paragraph ----------*/
    
        &__title {
            font-size: $fz4;
            width: 300px;
        }
    }
}

/*-------------------- Desktop Breakpoint --------------------*/

@include lg {
    .contact {
        height: 35em;
        
        /*---------- Paragraph ----------*/
    
        &__title {
            font-size: $fz4;
            width: 500px;
        }
    }
}