@import 'vars';

/*---------- Not Found Section ----------*/

.error404 {
    text-align: center;
    width: 100%;
    height: 85vh;
    margin-bottom: 6rem;

    /*---------- 404 number ----------*/

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: $error;
        margin: 1.5rem;
    }

    /*---------- Paragraph ----------*/

    &__text {
        font-size: $fz0;
        font-weight: 200;
        width: 60%;
        margin: 1.5rem auto;
    }

    /*---------- Button ----------*/

    &__button {
        border: none;
        color: #fff;
        background-color: $grey-200;
        padding: .5rem 1.25rem;
        border-radius: 8px;
    }

    /*---------- "See All" text ----------*/

    &__link {
        text-align: right;
        text-decoration: underline;
        padding: 1rem;
    }

}

/*---------- Bottom Slider ----------*/

#error404__slider {
    margin-top: 3rem;
}