@import 'vars';


.error404 {
    text-align: center;
    width: 100%;
    height: 85vh;
    margin-bottom: 6rem;

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: $error;
        margin: 1.5rem;
    }

    &__text {
        font-size: .8rem;
        font-weight: 200;
        width: 250px;
        margin: 1.5rem auto;
    }

    &__button {
        border: none;
        color: #fff;
        background-color: $grey-200;
        padding: .5rem 1.25rem;
        border-radius: 8px;
    }

    &__link {
        text-align: right;
        text-decoration: underline;
        padding: 1rem;
    }

}

#error404__slider {
    margin-top: 3rem;
}