@import 'vars';
@import 'mixins';

/*---------- Not Found Section ----------*/

.error404 {
    text-align: center;
    width: 100%;
    height: 85vh;
    margin-bottom: 6rem;

    /*---------- 404 number ----------*/

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: $error;
        margin: 1.5rem;
    }

    /*---------- Paragraph ----------*/

    &__text {
        font-size: $fz0;
        font-weight: 200;
        width: 60%;
        margin: 1.5rem auto;
    }

    /*---------- Button ----------*/

    &__button {
        border: none;
        color: #fff;
        background-color: $grey-200;
        padding: .5rem 1.25rem;
        border-radius: 8px;
    }

    /*---------- "See All" text ----------*/

    &__link {
        text-align: right;
        text-decoration: underline;
        padding: 1rem;
    }

}

/*---------- Bottom Slider ----------*/

#error404__slider {
    margin-top: 3rem;
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    /*---------- Not Found Section ----------*/

    .error404 {
        text-align: center;
        width: 100%;
        height: 70vh;
    
        /*---------- 404 number ----------*/
    
        &__title {
            font-size: 10rem;
            font-weight: 700;
            color: $error;
            margin: 1.5rem;
        }
    
        /*---------- Paragraph ----------*/
    
        &__text {
            font-size: $fz1;
            font-weight: 200;
            width: 60%;
            margin: 2rem auto;
        }
    
        /*---------- Button ----------*/
    
        &__button {
            border: none;
            font-size: $fz1;
            color: #fff;
            background-color: $grey-200;
            padding: .5rem 1.25rem;
            border-radius: 8px;
        }

        /*---------- Projects container ----------*/

        &__projects {
            width: 80%;
            display: block;
            margin: {
                left: auto;
                right: auto;
            };
            margin-inline: auto;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {

    /*---------- Not Found Section ----------*/

    .error404 {
        text-align: center;
        width: 100%;
        height: 120vh;
    
        /*---------- 404 number ----------*/
    
        &__title {
            font-size: 10rem;
            font-weight: 700;
            color: $error;
            margin: 1.5rem;
        }
    
        /*---------- Paragraph ----------*/
    
        &__text {
            font-size: $fz0;
            font-weight: 200;
            width: 60%;
            margin: 2rem auto;
        }
    
        /*---------- Button ----------*/
    
        &__button {
            font-size: $fz0;
        }

        /*---------- Projects container ----------*/

        &__projects {
            width: 70%;
            margin: {
                left: auto;
                right: auto;
            };
            margin-inline: auto;
        }

        /*---------- "See All" text ----------*/

        &__link {
            margin-right: 1rem;
        }
    }
}