@import 'vars';
@import 'mixins';

:root{
    --swiper-theme-color: $primary;
}

/*----------  Feedback Section ----------*/
.feedback {
    margin-bottom: 2rem;

    &__title {
        font-size: $fz4;
        width: 300px;
        color: $primary;
        margin: auto;
        text-align: center;
        padding: 2rem 0 ;
    }
}

/*---------- pagination arrows ----------*/

.swiper-button-prev:after, .swiper-button-next:after  {
    display: none;
}

/*---------- pagination bullets ----------*/

.swiper-pagination-bullet-active {
    --swiper-theme-color: #00668B;
}


/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .feedback {
        margin-bottom: 2rem;
    
        &__title {
            font-size: $fz4;
            width: 500px;
            color: $primary;
            margin: auto;
            text-align: center;
            padding: 2rem 0 ;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .feedback {
        margin-bottom: 2rem;
        width: 85%;
        max-width: 1300px;
        margin-inline: auto;
    
        &__title {
            font-size: $fz4;
            width: 800px;
            color: $primary;
            margin: auto;
            text-align: center;
            padding: 2rem 0 ;
        }
    }
}