@import 'vars';
@import 'mixins';


/*----------  Feedback Card ----------*/
.feedback {
    &__card {
        width: 75%;
        text-align: center;
        padding: 1rem;
        margin: 4rem auto;
        border-radius: 8px;
        box-shadow: 1px 4px 4px 2px $grey-700;
    }

     /*---------- Card image ----------*/
    &__img {
        width: 45%;
        margin: -80px auto 15px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /*---------- Card text ----------*/

    &__info {
        width: 100%;
    }

    &__body {
        width: 90%;
        margin: auto;
        font-size: $fz1;
        line-height: 1.4;
        font-weight: 300;
    } 

    &__name {
        color: $primary;
        font-size: $fz0;
        text-align: right;
        font-weight: 300;
        margin-top: 1rem;
        line-height: 1.4;

        span {
            display: block;
            font-weight: 500;
        }
    }
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .feedback {
        &__card {
            width: 350px;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .feedback {
        &__card {
            width: 350px;
        }

        /*---------- Card text ----------*/
    &__body {
        font-size: $fz0;

    } 

    &__name {
        font-size: $fz-1;
    }
    }

    
}