@import 'vars';
@import 'mixins';

:root{
    --swiper-theme-color: $primary;
    // --swiper-pagination-color: $primary;
}

/*----------  Feedback Section ----------*/
.feedback {
    height: 80vh;

    &__title {
        width: 300px;
        color: $primary;
        margin: auto;
        text-align: center;
        padding: 2rem 0 ;
    }
}

.swiper-button-prev:after, .swiper-button-next:after  {
    display: none;
}

.swiper-pagination-bullet-active {
    --swiper-theme-color: #00668B;
}