@import 'vars';
@import 'mixins';

/*---------- Footer section ----------*/

.footer {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);

    /*---------- Hey! text ----------*/
    &__title {
        font-size: $fz3;
        margin-bottom: .3rem;
        font-weight: 500;
    }
    
    /*---------- name text ----------*/
    &__name {
        font-weight: 600;
     }

    /*---------- Footer text ----------*/
    &__text {
        font-size: $fz1;
        font-weight: 200;
        margin-bottom: .5rem;
        line-height: 1.4;
    }

      /*---------- List of items/ li elements ----------*/
      &__list {
        padding: .5rem 0;
 
     }
 
     /*---------- List of links/ a elements ----------*/
     &__links {
        font-size: $fz1;
        padding: .7rem 0;
     }

    /*---------- CopyRight ----------*/

    &__copyright {
        text-align: center;
        padding: 2rem;
    }

    /*---------- CopyRight text ----------*/
    &__rights {
        font-size: $fz1;
        color: $grey-700;
        font-weight: 100;
    }

    /*---------- CopyRight icon ----------*/
    &__copyrightIcon {
        display: inline-block;
        width: 1rem;
        vertical-align: -3px;
    }

}

/*-------------------- Table Breakpoint --------------------*/

@include md {
    /*---------- Footer section ----------*/

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 3em;

    /*---------- About container ----------*/
    &__about {
        width: 50%;
    }

    /*---------- Hey! text ----------*/
    &__title {
        font-size: $fz2;
        margin-bottom: .3rem;
        font-weight: 500;
    }
    
    /*---------- name text ----------*/
    &__name {
        font-weight: 600;
     }

    /*---------- Footer text ----------*/
    &__text {
        font-size: $fz0;
        font-weight: 200;
        margin-bottom: .5rem;
        line-height: 1.4;
    }
  }
}

/*-------------------- Desktop Breakpoint --------------------*/

@include lg {
    /*---------- Footer section ----------*/

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;

    &__title {
        font-size: $fz3;
        margin-bottom: .3rem;
        font-weight: 500;
    }

    /*---------- About container ----------*/
    &__about {
        width: 40%;
        max-width: 500px;
    }

    /*---------- Footer text ----------*/
    &__text {
        // font-size: $fz0;
        font-weight: 200;
        margin-bottom: .5rem;
        line-height: 1.4;
    }

    &__navBar {
        width: 20%;
        max-width: 500px;
    }

      /*---------- List of items/ li elements ----------*/
      &__list {    
        padding: 0;
     }
 
     /*---------- List of links/ a elements ----------*/
     &__links {
        font-size: $fz0;
        color: $grey-400;
        padding: .9rem 0;

        transition: color .3s ease;

        &:hover {
            color: #000;
        }
     }

    /*---------- CopyRight ----------*/

    &__copyright {
        width: 100%;
        margin-inline: auto;
    }
  }
}