@import 'vars';
@import 'mixins';

/*---------- Footer section ----------*/

.footer {
    padding: 1rem;

    /*---------- Hey! text ----------*/
    &__title {
        font-size: 1.4rem;
        margin-bottom: .3rem;
        font-weight: 500;
    }
    
    /*---------- name text ----------*/
    &__name {
        font-weight: 600;
     }

    /*---------- Footer text ----------*/
    &__text {
        font-size: .85rem;
        font-weight: 200;
        margin-bottom: .5rem;
        line-height: 1.4;
    }

    /*---------- CopyRight ----------*/

    &__copyright {
        text-align: center;
        padding: 2rem;
    }

    /*---------- CopyRight text ----------*/
    &__rights {
        color: $grey-700;
        font-weight: 100;
    }

    /*---------- CopyRight icon ----------*/
    &__copyrightIcon {
        display: inline-block;
        width: 1rem;
        vertical-align: -3px;
    }

}