@import 'vars';
@import 'mixins';

.form {
    text-align: center;
    width: 100%;

    &__container {
        width: 80%;
        margin-inline: auto;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__label {
        display: block;
        position: absolute;
        z-index: 1;
        left: 100%;
        // bottom: 0;
    }

    &__input {
        outline: solid;
        position: relative;
        width: 100%;
        padding: 5px;
        margin-bottom: 1rem;
        border: {
            top: none;
            bottom: solid 1px;
            left: 1px solid;
            right: none;
        };
    }

    &__textarea {
        width: 100%;
        height: 10em;
        // border-radius: 6px;
    }
}