@import 'vars';
@import 'mixins';

/*---------- Form Page ----------*/

.form {
    text-align: right;
    width: 100%;
    margin-bottom: 3rem;

    /*---------- Form title ----------*/

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    /*----------  Paragraph ----------*/

    &__text {
        width: 80%;
        margin-inline: auto;
        font-size: $fz0;
        font-weight: 200;
        line-height: 1.5;
        text-align: left;
        margin-bottom: 2rem;

        /*----------  Paragraph bold text ----------*/

        span {
            font-weight: 600;
        }
    }

    /*---------- Form Container ----------*/

    &__container {
        width: 80%;
        margin-inline: auto;
    }

    /*----------  Labes ----------*/

    &__label {
        display: block;
        font-size: $fz0;
        font-weight: 200;
        text-align: left;
        padding-bottom: .5rem;
    }

    /*----------  Inputs ----------*/

    &__input {
        width: 100%;
        font-size: $fz1;
        background-color: #E8E8E8;
        padding: .5rem;
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 8px;
    }

    /*----------  Textarea ----------*/

    &__textarea {
        width: 100%;
        height: 10em;
        font-size: $fz1;
        background-color: #E8E8E8;
        padding: .5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 8px;
    }

    /*----------  Submit button ----------*/

    &__submit {
        color: #fff;
        background-color: $grey-200;
        padding: .5rem 1.25rem;
        border: none;
        border-radius: 8px;
    }
}

/*-------------------- Table Breakpoint --------------------*/

@include md {
   
    /*---------- Form Page ----------*/

      .form {
          width: 80%;
          margin-top: 1rem;
          margin-inline: auto;

          /*---------- Form title ----------*/

           &__title {
               text-align: center;
               font-size: $fz4;
           }
      }

      
}


/*-------------------- Desktop Breakpoint --------------------*/

@include lg {
    /*---------- Form Page ----------*/

.form {
    width: 50%;
    max-width: 900px;

    /*----------  Labes ----------*/

    &__label {
        font-size: $fz0;
    }

    /*----------  Inputs ----------*/

    &__input {
        font-size: $fz1;

        &::placeholder {
            font-size: $fz0;
          }
    }

    /*----------  Textarea ----------*/

    &__textarea {
        font-size: $fz0;
    }

    /*----------  Submit button ----------*/

    &__submit {
        font-size: $fz0;
    }
}
}
