@import 'vars';
@import 'mixins';

/*---------- Form Page ----------*/

.form {
    text-align: right;
    width: 100%;
    margin-bottom: 3rem;

    /*---------- Form title & text ----------*/

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__text {
        width: 300px;
        margin-inline: auto;
        font-size: .85rem;
        font-weight: 200;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 2rem;

        span {
            font-weight: 600;
        }
    }

    /*---------- Form Container ----------*/

    &__container {
        width: 80%;
        margin-inline: auto;
    }


    &__label {
        display: block;
        font-size: .8rem;
        font-weight: 200;
        text-align: left;
        padding-bottom: .5rem;
    }

    &__input {
        width: 100%;
        background-color: #E8E8E8;
        padding: .5rem;
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 8px;
    }

    &__textarea {
        width: 100%;
        height: 10em;
        background-color: #E8E8E8;
        padding: .5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 8px;
    }

    &__submit {
        color: #fff;
        background-color: $grey-200;
        padding: .5rem 1.25rem;
        border: none;
        border-radius: 8px;
    }
}