@import 'vars';
@import 'mixins';

/*---------- Hero Section ----------*/

.hero {

    &__title {
        font-size: $fz5;
        margin: {
            top: 1.5rem;
            left: 1rem;
        };

        /*---------- name title ----------*/

        span {
            display: block;
        }
    }

    /*---------- Hero text ----------*/

    &__body {
        color: $grey-300;
        font-weight: 200;
        font-size: $fz1;
        width: 70%;
        margin: .5rem 1rem;
        word-spacing: .5px;
    }

    &__button {
        display: none;
    }
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {

    .hero {
        margin-left: 3rem;
    

        &__button {
            display: inline-block;
            font-size: $fz1;
            color: #fff;
            background-color: $error;
            padding: .5rem 2rem;
            margin: {
                top: 1.5rem;
                left: 2rem;
            };
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
}

}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .hero__button {
        transition: all .3s;
    
       &:hover {
           color: $error;
           background-color: transparent;
           outline: 1px $error solid;

       }
    }
}