@import 'vars';

.hero {
    &__title {
        font-size: 2rem;
        margin: {
            top: 1.5rem;
            left: 1rem;
        };

        span {
            display: block;
        }
    }

    &__body {
        color: $grey-300;
        font-weight: 200;
        font-size: .8rem;
        width: 80%;
        padding: .5rem 1rem;
        word-spacing: .5px;
    }
}