@import 'mixins'; 

/*---------- Logo ----------*/

.logo {
    margin-left: 1rem;
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .logo {
        margin-left: 2rem;
    }
}
