@import 'vars';
@import 'mixins';

.navBar {
    &__button {
        border: none;
        margin-right: 1rem;
        background-color: transparent;
    }

    
}

/*---------- List of links ----------*/

.navBar {
    
    &__list {
        position: absolute;
        padding: 1rem;
        width: 100vw;
        top: 100%;
        left: -100%;
        text-align: center;
        transition: all .2s ease;
        background-color: $white;
        z-index: 3;
        opacity: 0;
        background-color: $primary;

    }

    &__links {
        padding: {
            top: 1rem;
            bottom: 1rem;
        };
        background-color: $primary;
        color: #fff;

    }
}

/*---------- List of links hidden ----------*/


#navBar__hidden {
    left: 0;
    opacity: 1;
}