@import 'vars';

.navBar {
    &__button {
        border: none;
        margin-right: 1rem;
        background-color: transparent;
    }

    
}

/*---------- List of links ----------*/

.navBar {
    // position: relative;
    
    &__list {
        position: absolute;
        width: 100vw;
        top: 100%;
        left: -100%;
        text-align: center;
        transition: all .2s ease;
        background-color: $white;
        z-index: 3;
        opacity: 0;
    }

    &__links {
        padding: 1rem 0;
    }
}

/*---------- List of links hidden ----------*/


#navBar__hidden {
    left: 0;
    opacity: 1;
}