@import 'vars';
@import 'mixins';

/*---------- Button on mobile version ----------*/

.navBar {
    &__button {
        border: none;
        margin-right: 1rem;
        background-color: transparent;
    }

    
}

/*---------- List of navigation links ----------*/

.navBar {

    /*---------- List of items/ li elements ----------*/
    
    &__list {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: $white;
        background-color: $primary;
        width: 100vw;
        padding: 1rem;
        text-align: center;
        transition: all .2s ease;
        z-index: 3;
        opacity: 0;

    }

    /*---------- List of links/ a elements ----------*/

    &__links {
        background-color: $primary;
        color: #fff;
        font-size: $fz2;
        padding: {
            top: 1rem;
            bottom: 1rem;
        };

    }
}

/*---------- List of links hidden ----------*/


#navBar__hidden {
    left: 0;
    opacity: 1;
}


/*---------- List of navigation links FOOTER ----------*/

.footer {

      /*---------- List of items/ li elements ----------*/
      &__list {
       padding: .5rem 0;

    }

    /*---------- List of links/ a elements ----------*/
    &__links {
       padding: .7rem 0;

    }
}