@import 'vars';
@import 'mixins';

/*---------- Button on mobile version ----------*/

.navBar {
    &__button {
        border: none;
        margin-right: 1rem;
        background-color: transparent;
    }

    
}

/*---------- List of navigation links ----------*/

.navBar {

    /*---------- List of items/ li elements ----------*/
    
    &__list {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: $white;
        background-color: $primary;
        width: 100vw;
        text-align: center;
        transition: all .2s ease;
        z-index: 3;
        opacity: 0;
    }


    /*---------- List of links/ a elements ----------*/

    &__links {
        background-color: $primary;
        color: #fff;
        font-size: $fz2;
        padding: {
            top: 1rem;
            bottom: 1rem;
        };

    }
}

.active {
    background-color: darken($primary, 8%);
}

/*---------- List of links hidden ----------*/


#navBar__hidden {
    left: 0;
    opacity: 1;
}



/*--------------------------- Tablet breakpoint ---------------------------*/
@include md {
    .navBar {

        /*---------- Button on mobile version ----------*/
    
        &__button {
            display: none;
        }
    
        /*---------- List of items/ li elements ----------*/
        
        &__list {
            display: flex;
            width: auto;
            position: static;
            background-color: transparent;
            padding: 0;
            padding: {
                top: 1rem;
                bottom: 1rem;
                right: 2rem;
            };
            opacity: 1;
            z-index: 0;
        }
    
        /*---------- List of links/ a elements ----------*/
    
        &__links {
            flex-shrink: 0;
            flex-grow: 0;
            color: $grey-600;
            background-color: transparent;
            font-size: $fz0;
            font-weight: 400;
            padding: .5rem 1rem;

            &:hover {
                color: $primary;
                font-weight: 500;
            }
        }

        /*---------- Hoem link ----------*/

        &__home {
            display: none;
        }

        /*---------- Contact me link ----------*/

        &__contactMe {
            display: none;
        }
    }

    .active {
        color: $primary;
        font-weight: 600;
        border: solid $primary 1px;
        border-radius: 8px;
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .navBar__links {

        /*---------- Underscore (invisible) ----------*/

        &::after {
            content: '';
            display: block;
            height: 3px;
            background-color: #000;

            transition: transform 0.2s ease;
            transform: scale(0);
        }

        /*---------- Uderscore appear----------*/

        &:hover::after {
            // transform: scale(1);
        }
    }
}