@import 'vars';
@import 'mixins';

/*----------  Projects Section ----------*/
 .projects {
     background-color: #fff;

     &__wave1 {
        position: relative;
        top: 10px;
     }

     &__title {
         color: #fff;
         text-align: center;
         padding-bottom: 3rem;
         background-color: $primary;
     }

     &__slider {
         width: 100%;
         display: flex;
         gap: 1rem;
         padding-left: 1rem;
         overflow-x: scroll;
         overflow-y: hidden;
         scroll-snap-type: x mandatory;
         background-color: $primary;
     }

     &__more {
         color: #fff;
         padding: 1.5rem;
         padding-bottom: 0;
         font-weight: 300;
         text-align: right;
         text-decoration: underline;
         background-color: $primary;
     }
 }