
/*----------  Project page ----------*/

.projectsPage {
    margin-bottom: 3rem;
    
    /*----------  Main title ----------*/

    &__title {
        font-size: fz1;
        text-align: center;
        margin-bottom: 3rem;
    }

    /*----------  Card container ----------*/

    &__container{
        width: 90%;
        margin-inline: auto;
        
    }

    /*----------  Cards ----------*/

    &__card {
        width: 100%;
        margin: 2rem auto;
    }
}