@import 'vars';
@import 'mixins';

/*----------  Project Detail Page ----------*/

.projectDetail {
    width: 100%;

    /*----------  Main title ----------*/

    &__title {
        font-size: $fz4;
        text-align: center;
        margin: 1rem auto;
    }

    /*----------  Paragraph ----------*/

    &__text {
        width: 90%;
        font-size: $fz0;
        font-weight: 200;
        margin: 2rem auto;
    }

    /*----------  image between paragraphs ----------*/

    &__img2 {
        width: 90%;
        margin: {
            left: auto;
            right: auto;
        };
        margin-inline: auto;
    }
}


/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    /*----------  Project Detail Page ----------*/

.projectDetail {
    width: 100%;

    /*----------  Top image ----------*/

    &__img {
      
        img {
            height: 20em;
            object-fit: cover;
        }

    }

    /*----------  Paragraph ----------*/

    &__text {
        width: 70%;
    }

    /*----------  image between paragraphs ----------*/

    &__img2 {
        width: 70%;
    }
  }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    /*----------  Project Detail Page ----------*/

.projectDetail {
    width: 100%;

    /*----------  Main title ----------*/

    &__title {
        font-size: $fz4;
        text-align: center;
        margin: 1rem auto;
    }

    /*----------  Paragraph ----------*/

    &__text {
        width: 50%;
        max-width: 900px;
        font-size: $fz0;
        font-weight: 200;
        margin: 2rem auto;
    }

    /*----------  image between paragraphs ----------*/

    &__img2 {
        width: 50%;
        max-width: 900px;
    }
}
}