@import 'vars';
@import 'mixins';

/*----------  Projects Section ----------*/
 .projects {
     background-color: #fff;
     margin-bottom: 3rem;

     &__wave1 {
         width: 100%;
        position: relative;
        top: 10px;
     }

     &__wave2 {
        width: 100%;
       position: relative;
       top: -2px;
    }

     

     &__title {
         color: #fff;
         text-align: center;
         padding-bottom: 3rem;
         background-color: $primary;
     }

     &__slider {
         width: 100%;
         display: flex;
         overflow-x: scroll;
         overflow-y: hidden;
         background-color: $primary;
         padding-left: 1rem;
     }

     &__more {
         color: #fff;
         padding: 1.5rem;
         padding-bottom: 0;
         font-weight: 300;
         text-align: right;
         text-decoration: underline;
         background-color: $primary;
     }
 }