@import 'vars';
@import 'mixins';


/*----------  Project page ----------*/

.projectsPage {
    width: 100%;
    
    /*----------  Main title ----------*/

    &__title {
        font-size: $fz4;
        text-align: center;
    }

    /*----------  Card container ----------*/

    &__container{
        width: 90%;
        margin-inline: auto;
    }

    /*----------  Cards ----------*/

    &__card {
        width: 100%;
        max-width: 320px;
        margin: 2rem auto;
    }
}

/*------------------------------------- Tablet breakpoint -------------------------------------*/


@include md {
    .projectsPage {
        margin-bottom: 2rem;
        background-color: #fff;
        
        /*----------  Main title ----------*/
    
        &__title {
            text-align: center;
            margin-bottom: 3rem;
        }

        /*----------  Card container ----------*/

        &__container{
            width: 90%;
            margin-inline: auto;
        }
    
        /*----------  Cards ----------*/
    
        &__card {
            display: inline-block;
            width: 45%;
            margin: 1rem;
        }
    }
}

/*------------------------------------- Desktop breakpoint -------------------------------------*/

@include lg {
    .projectsPage {
    
        /*----------  Cards ----------*/
    
        &__card {
            width: 30%;
        }
    }
}