


.projectDetail {
    width: 100%;

    &__img {

      
    }

    &__title {
        text-align: center;
        margin: 1rem auto;
    }

    &__text {
        width: 90%;
        font-size: .8rem;
        font-weight: 200;
        margin: 2rem auto;
    }

    

    &__img2 {
        width: 90%;
        margin-inline: auto;
    }
}