@import 'vars';
@import 'mixins';

/*----------  Projects Section ----------*/
 .projects {
     background-color: $primary;

     /*---------- Top wave shape ----------*/

     &__wave1 {
        width: 100%;
        position: relative;
        top: 5px;
     }

     /*---------- Bottom wave shape----------*/

     &__wave2 {
       width: 100%;
    }

    /*---------- Projects section title ----------*/

     &__title {
         font-size: $fz4;
         text-align: center;
         color: #fff;
         background-color: $primary;
         padding-top: 1rem;
         padding-bottom: 2rem;
     }

     /*---------- "See All" text ----------*/

     &__more {
         font-size: $fz1;
         font-weight: 300;
         text-align: right;
         text-decoration: underline;
         color: #fff;
         background-color: $primary;
         padding: 1.5rem;
         padding-bottom: 0;
     }
 }

 #projects__slider{
     background-color: $primary;
 }

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .projects {
        background-color: $primary;
        margin-bottom: 3rem;
   
        /*---------- Top wave shape ----------*/
   
        &__wave1 {
           width: 100%;
           position: relative;
           top: 30px;
        }
   
        /*---------- Bottom wave shape----------*/
   
        &__wave2 {
          width: 100%;
          position: relative;
          top: -50px;
       }

       &__container {
          width: 80%;
          margin-inline: auto;
       }
   
        /*---------- "See All" text ----------*/
   
        &__more {
            margin-right: 1rem;
        }
    }
}