@import 'vars';
@import 'mixins';

/*----------  Projects Section ----------*/
 .projects {
     background-color: #fff;
     margin-bottom: 3rem;

     /*---------- Top wave shape ----------*/

     &__wave1 {
        width: 100%;
        position: relative;
        top: 10px;
     }

     /*---------- Bottom wave shape----------*/

     &__wave2 {
       width: 100%;
       position: relative;
       top: -2px;
    }

    /*---------- Projects section title ----------*/

     &__title {
         font-size: $fz4;
         text-align: center;
         color: #fff;
         background-color: $primary;
         padding-bottom: 3rem;
     }

     /*---------- "See All" text ----------*/

     &__more {
         font-size: $fz2;
         font-weight: 300;
         text-align: right;
         text-decoration: underline;
         color: #fff;
         background-color: $primary;
         padding: 1.5rem;
         padding-bottom: 0;
     }
 }

 #projects__slider{
     background-color: $primary;
 }