@import 'vars';
@import 'mixins';

/*----------  Project Detail Page ----------*/

.projectDetail {
    width: 100%;

    /*----------  Top image ----------*/

    &__img {
      
      
    }

    /*----------  Main title ----------*/

    &__title {
        font-size: $fz4;
        text-align: center;
        margin: 1rem auto;
    }

    /*----------  Paragraph ----------*/

    &__text {
        width: 90%;
        font-size: $fz0;
        font-weight: 200;
        margin: 2rem auto;
    }

    /*----------  image between paragraph ----------*/

    &__img2 {
        width: 90%;
        margin-inline: auto;
    }
}

@include md {
    /*----------  Project Detail Page ----------*/

.projectDetail {
    width: 100%;

    /*----------  Top image ----------*/

    &__img {
      
        img {
            height: 20em;
            object-fit: cover;
        }

    }

}
}