@import 'vars';
@import 'mixins';


/*----------  Project page ----------*/

.projectsPage {
    
    /*----------  Main title ----------*/

    &__title {
        font-size: $fz4;
    }

    /*----------  Card container ----------*/

    &__container{
        width: 90%;
        margin-inline: auto;
        
    }

    /*----------  Cards ----------*/

    &__card {
        width: 100%;
        margin: 2rem auto;
    }
}

/*------------------------------------- Tablet breakpoint -------------------------------------*/


@include md {
    .projectsPage {
        margin-bottom: 3rem;
        background-color: #fff;
        
        /*----------  Main title ----------*/
    
        &__title {
            text-align: center;
            margin-bottom: 3rem;
        }
    
        /*----------  Cards ----------*/
    
        &__card {
            display: inline-block;
            width: 45%;
            margin: 1rem;
        }
    }
}