

.projectsPage {
    margin-bottom: 3rem;
    
    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__container{
        width: 90%;
        margin-inline: auto;
        
    }

    &__card {
        width: 100%;
        margin: 2rem auto;
    }
}