@import 'vars';
@import 'mixins';


/*---------- Services title ----------*/
.services {
    margin-bottom: 8em;
    &__title {
        font-size: $fz4;
        color: $primary;
        text-align: center;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
    }
}
