@import 'vars';
@import 'mixins';


/*---------- Services title ----------*/
.services {
    margin-bottom: 8em;
    &__title {
        font-size: $fz4;
        color: $primary;
        text-align: center;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
    }
}

/*-------------------- Table Breakpoint --------------------*/

@include md {
    .services {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-inline: auto;

        &__title {
            width: 100%;
        }
    }
}