@import 'vars';
@import 'mixins';


/*---------- Services title ----------*/
.services {
    margin-bottom: 8em;

    &__title {
        font-size: $fz4;
        color: $primary;
        text-align: center;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
    }
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .services {
        width: 95%;
        margin: {
            left: auto;
            right: auto;
        };
        margin-inline: auto;

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

/*--------------------------- Desktop breakpoint ---------------------------*/

@include lg {
    .services {
        width: 90%;
        max-width: 1300px;
        margin-top: 3rem;
    }

}