@import 'vars';
@import 'mixins';


/*---------- Services title ----------*/
.services {
    margin-bottom: 8em;

    &__title {
        font-size: $fz4;
        color: $primary;
        text-align: center;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
    }
}

/*-------------------- Table Breakpoint --------------------*/

@include md {
    .services {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-inline: auto;

        &__title {
            width: 100%;
        }
    }
}

/*-------------------- Desktop Breakpoint --------------------*/

@include lg {
    .services {
        width: 90%;
        max-width: 1300px;
        margin-top: 3rem;
        // text-align: center;
    }

}