@import 'vars';
@import 'mixins';


/*---------- Services title ----------*/
.services {
    &__title {
        font-weight: 500;
        text-align: center;
        padding: {
            top: 2rem;
            bottom: 2rem;
        };
    }
}
