@import 'mixins';

.slider {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 2rem;
    text-align: left;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/*--------------------------- Tablet breakpoint ---------------------------*/

@include md {
    .slider {
        padding-left: 0;
        justify-content: center;
        overflow: hidden;
    }
}

@include lg {
    .slider {
        width: 80%;
        max-width: 1200px;
        padding-left: 0;
        justify-content: center;
        overflow: hidden;
        margin: {
            left: auto;
            right: auto;
        };

    }
}