@import 'mixins';

.slider {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 1rem;
    text-align: left;
}

/*-------------------- Table Breakpoint --------------------*/

@include md {
    .slider {
        padding-left: 0;
        justify-content: center;
    }
}