@import 'vars';
@import 'mixins';

/*---------- SocialMedia section ----------*/

.footer {
    /*---------- Container ----------*/
    &__social {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    /*---------- Title ----------*/
    &__socialTitle {
        display: none;
    }

    /*---------- Links ----------*/
    &__socialLink {
        padding: .3rem;
    }

    /*---------- Icons ----------*/
    &__socialIcon {
        width: 1.8rem;
        margin-inline: .3rem;
    }

    /*---------- User Name ----------*/
    &__socialUser {
        display: none;
    }
}

/*-------------------- Table Breakpoint --------------------*/

@include md {
    .footer {

        /*---------- Social Media Container ----------*/
        &__social {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 1.5rem;
        }
        /*---------- Title ----------*/
        &__socialTitle {
            display: none;
        }
    
        /*---------- Links ----------*/
        &__socialLink {
            padding: 0;
            display: flex;
            align-items: center;
        }
    
        /*---------- Icons ----------*/
        &__socialIcon {
            width: 1.8rem;
            margin-inline: .5rem;
        }
    
        /*---------- User Name ----------*/
        &__socialUser {
            display: inline-block;
        }
    }
}